<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital@0;1&display=swap"
			rel="stylesheet"
		/>
		<meta property="og:image" content="/images/caribbean-stew.jpg" />
		<title>Caribbean sweet potato and coconut stew</title>
		<link rel="stylesheet" href="main.css" />
	</head>
	<body>
		{{content}}
	</body>
</html>
